/* Directory 

1. Hero
2. Breadcrumb
3. Header
4. Body
5. Footer
6. Styling */



/* 1. Hero */

.hero_image {
    background-image: url("media/fathand.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    
    

}
.hero_body {
    text-align: right;
    position: relative;
   top: 5%;
   
}

/* 2. Breadcrumb */

.breadcrumb {
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: large;
    padding-right: 20px;
    font-variant: small-caps;
    font-size: large;
    opacity: 90%;
    color: #67E600;
}

.breadcrumblist {
    display: inline;    
    color: #E63900;
}

/* 3. Header */

.breadcrumb li:not(:last-child):after
 {
    padding: 10px;
    color: #ccc;
    content: "/";
}

.breadcrumblist a:hover {
    color: #67E600;
    cursor: pointer;
    text-decoration: underline;
    
}

.breadcrumblist__link--active {
    text-decoration: none;
        
}


.breadcrumblist a{
    text-decoration: none;
    color: #E63900;
}

/* 4. Body */

body {
    background-color: #0026E6;
    margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia;
    color: #67E600;
}
a {
    color: #E63900;
}
h1 {
    
    font-weight: bold;
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
h4 {
    text-align: center;
    font-weight: bold;
    font-size:  24px;
}
h5 {
    text-align: center;
    font-weight: bold;
    font-size:  12px;
}

div.container {
    width: auto;
    text-align: center;
    background-color: #E63900;
    margin: 80px;
    padding: 15px;
    border-radius: 15px;
}

div.container-games {
    text-align: center;
    background-color: #E63900;
    margin: 80px;
    padding: 15px;
    border-radius: 15px;
}

div.home-list {
    text-align: center;
    background-color: #67E600;
    color: #67E600;
    margin: 80px;
    padding: 15px;
    border-radius: 15px;
}

div.container-res {
    text-align: center;
    background-color:#E63900;
    color: #67E600;
    margin: 80px;
    padding: 15px;
    border-radius: 15px;
}

div.container-blog {
    background-color: rgba(230, 57, 0, 90%);
    
    border-radius: 20px;
    padding: 5px 15px ;
    margin: 15px;
 }
 
 div.title-dayone {
    display: inline-flex;
    margin: 20px;
 }

aside.to-do {
    width: 15%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5pm -5px #E63900;
    font-style: italic;
    color: #67E600;
    display: block;
    background-color: #e66f00;
    letter-spacing: 2px;
    border-radius: 20px;
}

aside.todo > p.dayone {
    margin: 0.5rem;
    
}

p.day-one, p.day-two {
    font-family: Arial, Helvetica, sans-serif;
    color: #67E600;
    letter-spacing: 2px;
    padding: 5px 15px ;
    margin: 15px;
  }

/* 5. Footer */

.footer {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10%;
    color: #E63900;
    background-color: #ffffff3a;
}

/* 6. Styling */

ul {
    color:#E63900;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    
    
}
ol {
    color: #E63900;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    
}
ul li, ol li {
    margin-bottom: 30px;
}

.page2 {
    font-style: bold;
}

h1.comingsoon {
    color: #E63900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    border-style: dotted;  
    border-radius: 30px;
    padding: 20px 20px; 
    margin-top: 20%;
    text-align: center;
    cursor: not-allowed;
}

#website {
    margin-left: 50px;
    color: #e63a00f8;
}

#Contact {
    margin-right: 50px;
    color: #e63a00f8;
}
#ending {
    display: flex;
    justify-content: space-between;
}

.link-home {
    color: blue;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.link-game {
    color: blue;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.link-res {
    color: blue;
    background-color: grey;    
    
}

ul.blog, li.blog {
    line-height: 20%;
}

#to-do {
    text-align: left;
    color:#67E600;
    letter-spacing: 0.5px;
        
}

h3.which-day {
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
   
}

img#soo-logo {
    width: 400px;
    height: 150px;
    float: left;
    margin: 20px;
    
}

h2.subtitle-blog {
    float: right;
    justify-content: center;
    padding-left: 30%;
   
}

#Feature {
    font-family: cursive;
    color: #2d5b08;
    background-color: #67E600;
    border-radius: 30px;
    padding: 0.3rem;
    margin: 0.5rem;
}

h1.title-blog {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: #2d5b08;
}

.day-out img {
    opacity: 85%;
    float: left;
    margin-right: 12px;
}

.day-out p.day-one {
    text-align: left;
    display: block;
    margin-left: 2px;
}
