body {
    background-color: #0026E6;
    margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia;
    color: #67E600;
}
a {
    color: #E63900;
}
h1 {
    
    font-weight: bold;
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
h4 {
    text-align: center;
    font-weight: bold;
    font-size:  24px;
}
h5 {
    text-align: center;
    font-weight: bold;
    font-size:  12px;
}

ul {
    color: #E63900;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    display: inline-block;
    
}
ol {
    color: #E63900;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    display: inline-block;
}
ul li, ol li {
    margin-bottom: 30px;
}

div.container {
    
    text-align: center;
}

.page2 {
    font-style: bold;
}

.breadcrumb {
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: large;
    padding-right: 20px;
    font-variant: small-caps;
    font-size: large;
    opacity: 90%;
    color: #67E600;
    
       
    
   }

.breadcrumblist {
    display: inline;
    color: #E63900;
}

.breadcrumb li:not(:last-child):after
 {
    padding: 10px;
    color: #ccc;
    content: "/";
}

.breadcrumblist a:hover {
    color: #67E600;
    cursor: pointer;
    text-decoration: underline;
    
}

.breadcrumblist__link--active {
    text-decoration: none;
        
}


.breadcrumblist a{
    text-decoration: none;
    color: #E63900;
}

h1.comingsoon {
    color: #E63900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    border-style: dotted;  
    border-radius: 30px;
    padding: 20px 20px; 
    margin-top: 20%;
    text-align: center;
}
.hero_image {
    background-image: url("media/fathand.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    
    

}
.hero_body {
    text-align: right;
    position: relative;
   top: 5%;
   
}

.footer {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10%;
    color: #E63900;
}

#website {
    margin-left: 50px;
    color: #e63a008d;
}

#Contact {
    margin-right: 50px;
    color: #e63a008d;
}
#ending {
    display: flex;
    justify-content: space-between;
}